:root {
  --background-ice-1: rgba(215, 242, 227, 0.75);
  --background-ice-2: rgba(218, 228, 239, 0.75);
  --background-ice-3: rgba(239, 224, 218, 0.75);
  --background-light: rgba(255, 255, 255, 0.2);
  --basic-background-1: #849d8f;
  --basic-background-2: #8996a6;
  --basic-background-3: #9d8b84;
  --basic-black: #323232;
  --basic-button: #e74a35;
  --basic-white: #ffffff;
  --border-r-L: 26px;
  --border-r-M: 20px;
  --border-r-S: 16px;
  --border-r-XXXL: 70px;
  --button-location: #d07058;
  --button-select: #fbded7;
  --chat: rgba(255, 255, 255, 0.8);
  --delete: #2c2829;
  --follow: #5a5a5a;
  --hit: #231f20;
  --line-L-XL: 41px;
  --line-M: 24px;
  --line-M-L: 30px;
  --line-S: 22px;
  --line-XL: 44px;
  --line-XS: 18px;
  --line-XXL: 60px;
  --line-XXS: 16px;
  --line-hit: 45px;
  --placeholder: #999999;
  --pop-up-background: #f8f7f4;
  --size-L: 32px;
  --size-L-XL: 35px;
  --size-M: 22px;
  --size-M-L: 24px;
  --size-S: 16px;
  --size-S-M: 18px;
  --size-XL: 60px;
  --size-XS: 14px;
  --size-XXS: 13px;
  --size-hit: 45px;
  --total: #000000;
  --weight-500: 500;
  --weight-bold: bold;
  --weight-normal: normal;
}

body {
  top: 0;
  left: 0;

  min-width: 1220px;
  margin: 0;
  padding: 0;

  font-weight: var(--weight-normal);
  font-size: var(--size-S);
  line-height: var(--line-S);
  font-family: "Roboto", Arial, sans-serif;
  color: var(--basic-white);

  background-color: var(--basic-background-1);
}

img {
  max-width: 100%;
  height: auto;
}

.site-navigation {
  list-style: none;
}
.site-navigation a {
  font-weight: var(--weight-bold);
  line-height: var(--line-XS);
  color: var(--basic-white);
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: var(--basic-black);

  background-color: var(--basic-white);
  border-radius: var(--border-r-L);
}

.user-navigation {
  list-style: none;
}
.user-navigation a {
  font-weight: var(--weight-500);
  font-size: var(--size-XS);
  line-height: var(--line-XXS);
  color: var(--basic-white);

  background-color: var(--background-light);
  border-radius: var(--border-r-M);
}
.user-navigation a:hover,
.user-navigation a:focus {
  color: var(--basic-black);

  background-color: var(--basic-white);
}

.choice-navigation {
  list-style: none;
}

.choice-navigation a {
  font-weight: var(--weight-normal);
  font-size: var(--size-XS);
  line-height: var(--line-XXS);
}

.choice-navigation a:hover,
.choice-navigation a:focus {
  background-color: var(--button-select);
}

.novelty a {
  font-weight: var(--weight-bold);
  font-size: var(--size-XS);
  line-height: var(--line-XS);
}

.timetable {
  font-weight: var(--weight-bold);
  font-size: var(--size-XS);
  line-height: var(--line-XXS);
}
.phone {
  font-weight: var(--weight-bold);
  font-size: var(--size-M);
  line-height: var(--line-M);
}

.promotion {
  list-style: none;
  font-weight: var(--weight-bold);
  font-size: var(--size-XL);
  line-height: var(--line-XXL);
  text-align: center;
  color: var(--basic-white);
}

.ice-cream a {
  width: 278px;
  height: 63px;

  font-size: var(--size-L);
  line-height: var(--line-XL);
  color: var(--basic-white);

  border-color: var(--basic-button);
  border-radius: var(--border-r-XXXL);
}

.features {
  width: 1146px;
  height: 306px;

  list-style: none;
  color: var(--basic-black);

  background-image: url(img/waffle-pattern.jpg);
  background-image: repeat-x;
  background-position: 27px 1280px;
}

.features h2 {
  font-weight: var(--weight-500);
  font-size: 24px;
  line-height: 30px;
}

.feature-list {
  list-style: none;
}

.articles {
  list-style: none;
}

.blog {
  color: var(--basic-black);
  background-image: url(img/strawberry-background.png);
  background-repeat: no-repeat;
  width: 560px;
  height: 220px;
}

.blog h4 {
  font-weight: var(--weight-500);
}

.blog a {
  font-weight: var(--weight-bold);
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-black);
}


.info-block {
  border-radius: var(--border-r-S);
}

.subscription {
  width: 560px;
  height: 220px;

  color: var(--follow);

  background-image: url(img/bg-post.svg);
  background-repeat: no-repeat;
}

.subscription button {
  font-weight: var(--weight-bold);
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);

  background-color: var(--basic-button);
  border-radius: var(--border-r-XXXL);
}

.chat {
  list-style: none;
}

.links a {
  list-style: none;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-white);
}

.purchaser {
  font-weight: var(--weight-bold);
}

.location {
  width: 89px;
  height: 31px;

  background-color: var(--button-location);
  border-radius: var(--border-r-L);
}

.chain {
  list-style: none;
}

.section-title {
  font-size: 35px;
  line-height: 41px;
}

.goods {
  list-style: none;
}

.goods h3 {
  font-weight: var(--weight-500);
  color: var(--basic-white);
}

.FOC {
  width: 560px;
  height: 229px;

  list-style: none;
  font-weight: var(--weight-bold);
  font-size: var (--size-S-M);
  line-height: var(--line-S);

  border-radius: var(--border-r-S);
}

.raspberry {
  background-image: url(img/raspberry-background.png);
  background-position: 27px 647px;
}

.chocolate {
  background-image: url(img/chocolate-background.png);
  background-position: 613px 647px;
}

.raspberry  h4 {
  font-weight: var(--weight-bold);
  font-size: var(--size-L-XL);
  line-height: var(--line-L-XL);
}

.chocolate h4 {
  font-weight: var(--weight-bold);
  font-size: var(--size-L-XL);
  line-height: var(--line-L-XL);
}

.raspberry  p {
  font-weight: var(--weight-normal);
  font-size: var(--size-S-M);
  line-height: var(--line-S);
}

.chocolate p {
  font-weight: var(--weight-normal);
  font-size: var(--size-S-M);
  line-height: var(--line-S);
}

.raspberry  a {
  width: 164px;
  height: 48px;

  font-weight: var(--weight-bold);
  font-size: var(--size-S-M);
  line-height: var(--line-M);
  color: var(--basic-white);

  background-color: var(--basic-button);
  border-radius: var(--border-r-XXXL);
}

.chocolate a {
  width: 164px;
  height: 48px;

  font-weight: var(--weight-bold);
  font-size: var(--size-S-M);
  line-height: var(--line-M);
  color: var(--basic-white);

  background-color: var(--basic-button);
  border-radius: var(--border-r-XXXL);
}

.hits-goods {
  list-style: none;
}
