:root {
  --background-ice-1: rgba(215, 242, 227, 0.75);
  --background-ice-2: rgba(218, 228, 239, 0.75);
  --background-ice-3: rgba(239, 224, 218, 0.75);
  --background-light: rgba(255, 255, 255, 0.2);
  --basic-background-1: #849d8f;
  --basic-background-2: #8996a6;
  --basic-background-3: #9d8b84;
  --basic-black: #323232;
  --basic-button: #e74a35;
  --basic-white: #ffffff;
  --border-r-16: 16px;
  --border-r-20: 20px;
  --border-r-26: 26px;
  --border-r-70: 70px;
  --button-location: #d07058;
  --button-select: #fbded7;
  --chat: rgba(255, 255, 255, 0.8);
  --delete: #2c2829;
  --follow: #5a5a5a;
  --hit: #231f20;
  --line-16: 16px;
  --line-18: 18px;
  --line-22: 22px;
  --line-24: 24px;
  --line-30: 30px;
  --line-41: 41px;
  --line-44: 44px;
  --line-60: 60px;
  --line-hit: 45px;
  --placeholder: #999999;
  --placeholder: #999999;
  --pop-up-background: #f8f7f4;
  --pop-up-background: #f8f7f4;
  --size-13: 13px;
  --size-14: 14px;
  --size-16: 16px;
  --size-18: 18px;
  --size-22: 22px;
  --size-24: 24px;
  --size-32: 32px;
  --size-35: 35px;
  --size-60: 60px;
  --size-hit: 45px;
  --total: #000000;
  --weight-500: 500;
  --weight-bold: bold;
  --weight-normal: normal;
}

body {
  top: 0;
  left: 0;

  min-width: 1220px;
  margin: 0;
  padding: 0;

  font-weight: var(--weight-normal);
  font-size: var(--size-16);
  line-height: var(--line-22);
  font-family: "Roboto", Arial, sans-serif;
  color: var(--basic-white);

  background-color: var(--basic-background-1);
}

img {
  max-width: 100%;
  height: auto;
}

.site-navigation {
  list-style: none;
}
.site-navigation a {
  font-weight: var(--weight-bold);
  line-height: var(--line-18);
  color: var(--basic-white);
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: var(--basic-black);

  background-color: var(--basic-white);
  border-radius: var(--border-r-26);
}

.user-navigation {
  list-style: none;
}
.user-navigation a {
  font-weight: var(--weight-500);
  font-size: var(--size-14);
  line-height: var(--line-16);
  color: var(--basic-white);

  background-color: var(--background-light);
  border-radius: var(--border-r-20);
}
.user-navigation a:hover,
.user-navigation a:focus {
  color: var(--basic-black);

  background-color: var(--basic-white);
}

.choice-navigation {
  list-style: none;
}

.choice-navigation a {
  font-weight: var(--weight-normal);
  font-size: var(--size-14);
  line-height: var(--line-16);
}

.choice-navigation a:hover,
.choice-navigation a:focus {
  background-color: var(--button-select);
}

.novelty a {
  font-weight: var(--weight-bold);
  font-size: var(--size-14);
  line-height: var(--line-18);
}

.timetable {
  font-weight: var(--weight-bold);
  font-size: var(--size-14);
  line-height: var(--line-16);
}
.phone {
  font-weight: var(--weight-bold);
  font-size: var(--size-22);
  line-height: var(--line-24);
}

.promotion {
  list-style: none;
  font-weight: var(--weight-bold);
  font-size: var(--size-60);
  line-height: var(--line-60);
  text-align: center;
  color: var(--basic-white);
}

.ice-cream a {
  width: 278px;

  font-size: var(--size-32);
  line-height: var(--line-44);
  color: var(--basic-white);

  border-color: var(--basic-button);
  border-radius: var(--border-r-70);
}

.features {
  width: 1146px;

  list-style: none;
  color: var(--basic-black);

  background-image: url("img/waffle-pattern.jpg");
  background-image: repeat-x;
  background-position: 27px 1280px;
}

.features h2 {
  font-weight: var(--weight-500);
  font-size: var(--size-24);
  line-height: var(--line-30);
}

.feature-list {
  list-style: none;
}

.articles {
  list-style: none;
}

.blog {
  width: 560px;

  color: var(--basic-black);

  background-image: url("img/strawberry-background.png");
  background-repeat: no-repeat;
}

.blog h4 {
  font-weight: var(--weight-500);
}

.blog a {
  font-weight: var(--weight-bold);
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-black);
}


.info-block {
  border-radius: var(--border-r-16);
}

.subscription {
  width: 560px;

  color: var(--follow);

  background-image: url("img/bg-post.svg");
  background-repeat: no-repeat;
}

.subscription button {
  font-weight: var(--weight-bold);
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);

  background-color: var(--basic-button);
  border-radius: var(--border-r-70);
}

.chat {
  list-style: none;
}

.links a {
  list-style: none;
  font-size: var(--size-13);
  line-height: var(--line-18);
  color: var(--basic-white);
}

.purchaser {
  font-weight: var(--weight-bold);
}

.location {
  width: 89px;

  background-color: var(--button-location);
  border-radius: var(--border-r-26);
}

.chain {
  list-style: none;
}

.section-title {
  font-size: 35px;
  line-height: 41px;
}

.goods {
  list-style: none;
}

.goods h3 {
  font-weight: var(--weight-500);
  color: var(--basic-white);
}

.FOC {
  width: 560px;

  list-style: none;
  font-weight: var(--weight-bold);
  font-size: var (--size-18);
  line-height: var(--line-22);

  border-radius: var(--border-r-16);
}

.raspberry {
  background-image: url("img/raspberry-background.png");
  background-position: 27px 647px;
}

.chocolate {
  background-image: url("img/chocolate-background.png");
  background-position: 613px 647px;
}

.raspberry  h4 {
  font-weight: var(--weight-bold);
  font-size: var(--size-35);
  line-height: var(--line-41);
}

.chocolate h4 {
  font-weight: var(--weight-bold);
  font-size: var(--size-35);
  line-height: var(--line-41);
}

.raspberry  p {
  font-weight: var(--weight-normal);
  font-size: var(--size-18);
  line-height: var(--line-22);
}

.chocolate p {
  font-weight: var(--weight-normal);
  font-size: var(--size-18);
  line-height: var(--line-22);
}

.raspberry  a {
  width: 164px;

  font-weight: var(--weight-bold);
  font-size: var(--size-18);
  line-height: var(--line-24);
  color: var(--basic-white);

  background-color: var(--basic-button);
  border-radius: var(--border-r-70);
}

.chocolate a {
  width: 164px;

  font-weight: var(--weight-bold);
  font-size: var(--size-18);
  line-height: var(--line-24);
  color: var(--basic-white);

  background-color: var(--basic-button);
  border-radius: var(--border-r-70);
}

.hits-goods {
  list-style: none;
}
