.page-header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-self: center;
  box-sizing: border-box;
  position: relative;
  width: 100%;

  &::before {
    content: "";
    position: absolute;
    align-self: center;
    z-index: -1;
    background-color: $bck-desktop;
    width: 100vw;
    top: -12px;
    background-position: center;
    height: 825px;
    background-image: url("../img/bckg-bike-desktop.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 825px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bckg-bike-desktop-2x.jpg");
      background-size: 100vw 825px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    align-self: center;
    z-index: -2;
    background-color: $bck-desktop;
    opacity: 98%;
    width: 100vw;
    top: -12px;
    left: calc(-50vw + 50%);
    height: 825px;
  }
}

.page-header__logo-svg {
  display: none;
  width: 68px;
  height: 21px;
}

.page-header__menu {
  border: none;
  width: 50px;
  height: 50px;
  background-image: url("../img/icon-menu-button.svg");
  background-repeat: no-repeat;
  background-size: 50px 50px;
  cursor: pointer;
  display: none;
  padding: 0;
}

.page-header__menu--opened {
  height: 52px;
  background-image: url("../img/icon-cross.svg");
  background-repeat: no-repeat;
  background-size: 50px 52px;
}

.page-header__menu--disabled {
  display: none;
}

.page-header__nav-wrapper--inactive {
  display: none;
  background-color: transparent;
}

.page-header__nav {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 873.5px;
    height: 1px;
    top: 37px;
    left: -15px;
    background-color: $main-title-inputs;
    opacity: 20%;
    z-index: 100;
  }
}

.page-header__nav-wrapper {
  display: block;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 3px;
  background-color: transparent;
  min-height: auto;
  margin-top: 7px;
  position: relative;
  align-self: center;
}

.page-header__nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 874px;

  &:first-child {
    padding-top: 0;
  }
}

.page-header__nav-item {
  background-color: transparent;
  padding: 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 32px;
  height: 62px;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  letter-spacing: -0.005em;

  &::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    top: 24px;
    right: 5px;
    background-image: url("../img/icon-arrow.svg");
    background-repeat: no-repeat;
    display: none;
  }

  &:nth-of-type(n+1) {
    margin-top: 0;
    margin-right: 134px;
  }

  &:nth-of-type(4n) {
    margin-right: 0;
  }

  &:hover {
    background-color: transparent;
  }
}

.page-header__nav-link {
  text-decoration: none;
  color: $main-title-inputs;

  &:hover {
    color: $basic-choose-wish;
  }

  &:active {
    color: $borders;
  }
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-self: center;
}

@media (max-width: $tablet-width) {
  .page-header {
    &::before {
      background-color: $bck-mobile;
      top: 0;
      height: 340px;
      background-image: url("../img/bckg-bike-tablet.jpg");
      background-size: 100vw 340px;
      display: none;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/bckg-bike-tablet-2x.jpg");
        background-size: 100vw 340px;
      }
    }

    &::after {
      background-color: $bck-mobile;
      opacity: 98%;
      top: 0;
      height: 340px;
      display: none;
    }
  }

  .page-header__wrapper {
    width: 100vw;
  }

  .page-header--active {
    background-color: $main-title-inputs;
    position: fixed;
    top: 0;
    background-position: center;
    z-index: 100;
    overflow-y: scroll;
    display: block;
    width: 100%;
    bottom: 0;
  }

  .page-header--activate-bckg {
    &::before {
      display: block;
    }

    &::after {
      display: block;
    }
  }

  .page-header--active .page-header__logo-svg {
    margin-top: 25px;
    margin-left: 22px;
  }

  .page-header__logo-svg {
    width: 68px;
    height: 21px;
    margin-top: 25px;
    display: block;
    margin-left: 22px;
  }

  .page-header__nav-wrapper {
    margin: 0;
    min-height: 568px;
    background-color: $main-title-inputs;
    align-self: center;
    position: relative;
    width: 100%;

    &::before {
      content: "";
      position: absolute;
      background-color: $main-title-inputs;
      width: 100vw;
      top: -52px;
      left: calc(-50vw + 50%);
      height: 53px;
      z-index: -1;
    }
  }

  .page-header__nav-wrapper--inactive {
    display: none;
  }

  .page-header__nav-wrapper--active {
    width: 100vw;
  }

  .page-header__menu {
    display: block;
  }

  .page-header__nav {
    display: flex;
    flex-direction: column;

    &::after {
      display: none;
    }
  }

  .page-header__menu--disabled {
    display: none;
  }

  .page-header__nav-link {
    color: $menu-text;
  }

  .page-header__nav-item {
    background-color: $menu-item;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 16px;
    padding-right: 35px;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    box-sizing: border-box;
    height: 60px;
    z-index: 1;
    width: 768px;

    &::after {
      display: block;
    }

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      background-color: $menu-item;
      width: 100vw;
      top: 0;
      left: calc(-50vw + 50%);
      height: 60px;
    }

    &:hover {
      background-color: $basic-choose-wish;
    }

    &:nth-of-type(n+1) {
      margin-top: 0;
      margin-right: 0;
    }

    &:nth-of-type(n+2) {
      margin-top: 30px;
      margin-left: 0;
    }
  }

  .page-header__nav ul {
    flex-direction: column;
    flex-wrap: nowrap;
    align-self: center;
    max-width: auto;

    &:first-child {
      padding-top: 100px;
    }
  }

  .page-header__nav--active ul {
    padding-bottom: 400px;
  }
}

@media (max-width: $mobile-width) {
  .page-header {
    &::before {
      top: 0;
      height: 390px;
      background-image: url("../img/bckg-bike-mobile.jpg");
      background-size: 100vw 390px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/bckg-bike-mobile-2x.jpg");
        background-size: 100vw 390px;
      }
    }

    &::after {
      top: 0;
      height: 390px;
    }
  }

  .page-header--active {
    width: 100vw;
  }

  .page-header__logo-svg {
    width: 68px;
    height: 21px;
    margin-left: 22px;
    margin-top: 23px;
  }

  .page-header--active .page-header__logo-svg {
    margin-top: 23px;
    margin-left: 22px;
  }

  .page-header__nav-item {
    width: 320px;

    &::before {
      z-index: -1;
      left: calc(-50vw + 50%);
    }
  }
}
