.page-body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .page-body {
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .page-body {
    margin: 0 auto;
  }
}
