.page-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  width: 100%;
}

.page-main__request-inputs input::placeholder {
  color: $placeholder;
  font-size: 15px;
}

.page-main__top svg {
  width: 68px;
  height: 21px;
  position: absolute;
  top: 305px;
  background-position: center;
}

.page-main__facts-item span {
  width: 50px;
  height: 50px;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  color: $basic-choose-wish;
}

.page-main__request-form {
  text-align: center;
  align-self: center;
  display: flex;
  flex-direction: column;
}

.page-main__request-form fieldset {
  border: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.page-main__top-wrapper {
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 389px;
  margin-top: 239px;
}

.page-main__request h2 {
  display: none;
}

.page-main__top {
  align-self: center;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.page-main__top h1 {
  font-size: 46px;
  line-height: 64px;
  margin: 0;
  margin-right: 158px;
  margin-top: 46px;
  width: 393px;
  text-align: left;
  font-weight: 700;
  color: $main-title-inputs;
  align-self: center;
  letter-spacing: -0.005em;
}

.page-main__top p {
  margin: 0;
  text-align: left;
  width: 381px;
  margin-right: 162px;
  font-size: 20px;
  margin-top: 27px;
  align-self: center;
  font-weight: 300;
  line-height: 32px;
  color: $main-title-inputs;
  letter-spacing: -0.005em;
}

.page-main__request {
  align-self: center;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.page-main__request-inputs legend {
  font-size: 17px;
  color: $main-title-inputs;
  width: 330px;
  margin-bottom: 20px;
  text-align: center;
  align-self: center;
  font-weight: 600;
  line-height: 28px;
  padding: 0;
}

.page-main__types-link {
  text-decoration: none;
}

.page-main__request-inputs input {
  width: 327px;
  padding-top: 14px;
  padding-bottom: 10px;
  padding-left: 29px;
  padding-right: 76px;
  align-self: center;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  box-sizing: border-box;
  height: 48px;
  color: $placeholder;
  border-radius: 4px;
  border: 1px solid $borders;

  &:nth-of-type(n+2) {
    margin-top: 20px;
  }

  &:last-of-type {
    margin-bottom: 20px;
  }

  &:hover {
    border-color: $basic-choose-wish;
  }

  &:focus {
    border-color: $borders;
  }
}

.page-main__facts {
  margin-bottom: 150px;
  text-align: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.page-main__facts h2 {
  font-size: 30px;
  line-height: 30px;
  width: auto;
  max-width: 873px;
  margin: 0;
  font-weight: 600;
  color: $basic-titles;
  text-align: center;
  align-self: center;
  letter-spacing: -0.005em;
}

.page-main__facts ul {
  list-style: none;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  display: flex;
  margin-top: 48px;
  max-width: 1200px;
  align-self: center;
  align-content: center;
  justify-content: center;
}

.page-main__facts-item {
  font-size: 22px;
  text-align: center;
  align-self: center;
  width: 263px;
  min-height: 120px;


  &:nth-of-type(2n) {
    margin-left: 0;
  }

  &:nth-of-type(n+1) {
    margin-right: 38px;
  }

  &:nth-of-type(4n) {
    margin-right: 0;
  }

  &:nth-of-type(n+3) {
    margin-top: 0;
  }

  &:nth-of-type(n+1) p {
    margin-top: 18px;
  }

  &:nth-of-type(n+2) p {
    margin-top: 13px;
  }

  &:nth-of-type(n+2) {
    margin-top: 0;
  }

  &:nth-of-type(n+5) {
    margin-top: 60px;
  }
}

.page-main__facts-item p {
  font-size: 22px;
  margin-top: 17px;
  font-weight: 400;
  line-height: 34px;
  color: $features;
  letter-spacing: -0.5px;
  margin-bottom: 0;
}

.page-main__types {
  padding-bottom: 0;
  background-color: $bckg-types;
  align-self: center;
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 1038px;

  &::before {
    content: "";
    position: absolute;
    align-self: center;
    z-index: -2;
    background-color: $bckg-types;
    width: 100vw;
    top: 0;
    left: calc(-50vw + 50%);
    min-height: 1038px;
  }
}

.page-main__types h2 {
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  width: auto;
  max-width: 873px;
  margin-top: 150px;
  margin-bottom: 59px;
  font-weight: 600;
  color: $basic-titles;
  letter-spacing: -0.005em;
  align-self: center;
}

.page-main__types-item {
  display: flex;
  flex-direction: column;

  &:nth-of-type(2n) {
    margin-left: 0;
    margin-top: 30px;
  }

  &:nth-of-type(n+1) {
    margin-right: 50px;
  }

  &:nth-of-type(3n) {
    margin-top: -7px;
    margin-right: 0;
  }

  &:nth-of-type(2n+1) {
    margin-bottom: 90px;
  }
}

.page-main__types-item--kids {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/icon-small-round-mobile.svg");
    width: 95px;
    height: 95px;
    background-size: 95px 95px;
    top: -33px;
    right: -35px;
    background-repeat: no-repeat;
  }
}

.page-main__types-item--mountain {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 47px;
    height: 47px;
    top: -19px;
    left: -21px;
    background-image: url("../img/icon-square.svg");
    z-index: 1;
  }

  &::after {
    content: "";
    position: absolute;
    width: 47px;
    height: 47px;
    bottom: 70px;
    right: -22px;
    background-image: url("../img/icon-square.svg");
    z-index: 1;
  }
}

.page-main__types-item--road {
  position: relative;
  z-index: 1;

  &::before {
    width: 180px;
    height: 180px;
    background-size: 180px 180px;
    top: 156px;
    left: -60px;
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    background-image: url("../img/icon-big-round-mobile.svg");
    z-index: -1;
  }
}

.page-main__types-item img {
  width: 342px;
  height: 503px;
}

.page-main__types-item--kids img {
  height: 513px;
}

.page-main__types-item--mountain img {
  height: 566px;
}

.page-main__types-link h3 {
  margin: 0;
  margin-top: 17px;
  text-align: center;
  align-items: center;
  font-weight: 600;
  font-size: 22px;
  line-height: 34px;
  letter-spacing: -0.5px;
  color: $features;
  margin-bottom: 40px;

  &:hover {
    color: $basic-choose-wish;
  }

  &:active {
    color: $borders;
  }
}

.page-main__types ul {
  margin: 0;
  margin-bottom: 95px;
  padding: 0;
  display: flex;
  list-style: none;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
}

.page-main__video {
  margin-top: 121px;
  margin-bottom: 148px;
  text-align: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  position: relative;

  &::before {
    top: -120px;
    height: 706px;
    content: "";
    position: absolute;
    background-color: $questions;
    z-index: -1;
    width: 100vw;
    left: calc(-50vw + 50%);
  }
}

.page-main__video h2 {
  margin: 0;
  font-size: 30px;
  margin-left: 6px;
  text-align: center;
  align-items: center;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.005em;
  margin-right: 19px;
  color: $main-title-inputs;
}

.page-main__video p {
  width: 340px;
  margin-bottom: 57px;
  margin-left: 10px;
  margin-top: 20px;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  align-self: center;
  letter-spacing: -0.005em;
  color: $main-title-inputs;
}

.page-main__video-img {
  width: 929px;
  height: 522px;
  align-self: center;
}

.page-main__video-button {
  width: 65px;
  height: 65px;
  top: 391px;
  left: 432px;
  background-size: 65px 65px;
  position: absolute;
  background-image: url("../img/icon-triangle.svg");
  cursor: pointer;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;

  &:hover {
    background-image: url("../img/icon-triangle-white.svg");
  }
}

.page-main__map {
  margin-bottom: 39px;
  text-align: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

.page-main__map h2 {
  margin: 0;
  font-size: 30px;
  width: auto;
  max-width: 873px;
  margin-right: 11px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  letter-spacing: -0.005em;
  color: $basic-titles;
  align-self: center;
}

.page-main__map p {
  margin-top: 29px;
  margin-bottom: 41px;
  width: 555px;
  max-width: 873px;
  margin-right: 15px;
  font-weight: 400;
  font-size: 17px;
  line-height: 31px;
  color: $features;
  opacity: 70%;
  align-self: center;
}

.page-main__map iframe {
  width: 957px;
  height: 530px;
  align-items: center;
}

.page-main__map-img {
  width: 957px;
  height: 530px;
  top: 161px;
  right: 0;
  position: absolute;
  z-index: -1;
}

.page-main__request-button {
  width: 326px;
  height: 51px;
  text-align: center;
  align-self: center;
  background-color: $basic-choose-wish;
  padding-top: 7px;
  padding-bottom: 5px;
  padding-left: 25px;
  padding-right: 28px;
  font-weight: 600;
  font-size: 15px;
  line-height: 21px;
  box-sizing: border-box;
  color: $features;
  border: none;
  border-radius: 6px;
  cursor: pointer;

  &:hover {
    background-color: $borders;
    color: $features;
  }
}

@media (max-width: $tablet-width) {
  .page-main {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      align-self: center;
      z-index: -1;
      width: 100vw;
      background-position: center;
      background-repeat: no-repeat;
      background-color: $bck-mobile;
      top: 0;
      height: 340px;
      background-image: url("../img/bckg-bike-tablet.jpg");
      background-size: 100vw 340px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/bckg-bike-tablet-2x.jpg");
        background-size: 100vw 340px;
      }
    }

    &::after {
      content: "";
      position: absolute;
      align-self: center;
      z-index: -2;
      width: 100vw;
      left: calc(-50vw + 50%);
      background-color: $bck-mobile;
      opacity: 98%;
      top: 0;
      height: 340px;
    }
  }

  .page-main--inactive {
    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }

  .page-main__types-item img {
    width: 270px;
    height: 300px;
  }

  .page-main__top {
    margin-bottom: 149px;
  }

  .page-main__top p {
    width: 435px;
    margin: 0;
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    margin-left: 15px;
  }

  .page-main__types-item {
    &:nth-of-type(2n) {
      margin-left: 0;
      margin-top: 0;
      margin-right: 0;
    }

    &:nth-of-type(2n+1) {
      margin-bottom: 0;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

  .page-main__types-item--mountain {
    margin-bottom: 0;

    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }

  .page-main__types h2 {
    margin: 0;
    font-size: 24px;
    line-height: 41px;
    margin-top: 51px;
    margin-bottom: 29px;
  }

  .page-main__request-inputs legend {
    width: 330px;
    margin-bottom: 10px;
    font-size: 18px;
    color: $features;
  }

  .page-main__request-inputs input {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 21px;
    padding-right: 57px;
    width: 321px;

    &:nth-of-type(n+1) {
      margin-top: 20px;
    }
  }

  .page-main__request-button {
    padding-bottom: 4px;
    padding-top: 5px;
    width: 321px;
    padding-left: 29px;
  }

  .page-main__facts {
    margin-bottom: 70px;
    align-items: center;
  }

  .page-main__facts ul {
    justify-content: center;
    margin-top: 30px;
    max-width: auto;
    flex-direction: row;
    flex-wrap: wrap;
    width: 640px;
  }

  .page-main__facts-item {
    width: 265px;
    min-height: auto;

    &:nth-of-type(n+5) {
      margin-top: 0;
    }

    &:nth-of-type(n+2) {
      margin-top: 0;
    }

    &:nth-of-type(n+3) {
      margin-top: 45px;
    }

    &:nth-of-type(n+3) p {
      margin-top: 15px;
    }

    &:nth-of-type(2n) {
      margin-left: 30px;
    }

    &:nth-of-type(n+1) p {
      margin-top: 18px;
    }

    &:nth-of-type(n+2) p {
      margin-top: 10px;
    }

    &:nth-of-type(n+1) {
      margin-right: 0;
    }

    &:nth-of-type(2n+1) {
      margin-bottom: 0;
    }

    &:nth-of-type(3n) {
      margin-right: 0;
    }
  }

  .page-main__types ul {
    margin: 0;
  }

  .page-main__types-item--road {
    &::before {
      background-size: 127px 127px;
      top: 203px;
      left: -38px;
      width: 127px;
      height: 127px;
    }
  }

  .page-main__types-item--kids {
    &::before {
      background-size: 68px 68px;
      top: -20px;
      right: -25px;
      width: 68px;
      height: 68px;
    }
  }

  .page-main__types {
    margin-bottom: 0;
    padding-bottom: 0;
    min-height: auto;

    &::before {
      min-height: 949px;
    }
  }

  .page-main__video {
    margin-top: 82px;
    margin-bottom: 66px;

    &::before {
      top: -70px;
      height: 413px;
    }
  }

  .page-main__video p {
    width: 450px;
    margin-bottom: 40px;
    margin-left: 0;
  }

  .page-main__video-img {
    width: 503px;
    height: 282px;
  }

  .page-main__video-button {
    width: 90px;
    height: 90px;
    top: 242px;
    left: 205px;
    background-size: 90px 90px;
  }

  .page-main__map h2 {
    font-size: 24px;
    margin-right: 0;
  }

  .page-main__map p {
    width: 629px;
    margin-top: 21px;
    margin-bottom: 19px;
    max-width: auto;
    margin-right: 0;
  }

  .page-main__map iframe {
    height: 545px;
    width: 698px;
  }

  .page-main__map-img {
    width: 698px;
    height: 545px;
    top: 101px;
    left: 0;
  }

  .page-main__map {
    margin-bottom: 20px;
  }

  .page-main__top h1 {
    margin: 0;
    margin-top: 85px;
    text-align: center;
    width: 525px;
    font-size: 30px;
    line-height: 42px;
    margin-right: 14px;
    align-self: center;
  }

  .page-main__types-link h3 {
    margin-top: 17px;
    margin-bottom: 58px;
  }

  .page-main__video h2 {
    margin-left: 14px;
    font-size: 24px;
  }

  .page-main__facts-item p {
    font-size: 22px;
    margin-top: 10px;
  }

  .page-main__top svg {
    display: none;
  }

  .page-main__request {
    margin-bottom: 69px;
  }

  .page-main__top-wrapper {
    display: block;
    margin: 0;
  }

  .page-main__facts h2 {
    font-size: 24px;
    line-height: 41px;
    width: 300px;
    max-width: auto;
    text-align: center;
    align-self: center;
  }
}

@media (max-width: $mobile-width) {
  .page-main__types-item img {
    width: 270px;
    height: 300px;
  }

  .page-main__video-img {
    width: 288px;
    height: 162px;
  }

  .page-main__facts h2 {
    width: 290px;
  }

  .page-main__types-item--mountain {
    margin-bottom: 8px;
  }

  .page-main__types h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 41px;
    color: $basic-titles;
    margin: 0;
    margin-top: 50px;
    margin-bottom: 30px;
    letter-spacing: -0.005em;
  }

  .page-main {
    display: flex;
    flex-direction: column;

    &::before {
      top: 0;
      height: 390px;
      background-image: url("../img/bckg-bike-mobile.jpg");
      background-size: 100vw 390px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/bckg-bike-mobile-2x.jpg");
        background-size: 100vw 390px;
      }
    }

    &::after {
      top: 0;
      height: 390px;
    }
  }

  .page-main__top-img img {
    top: 0;
    left: 108px;
    width: 319px;
    height: 390px;
  }

  .page-main__top h1 {
    width: 288px;
    font-weight: 700;
    font-size: 30px;
    line-height: 42px;
    margin-left: 0;
    margin-top: 70px;
    margin-right: 8px;
  }

  .page-main__facts-item p {
    font-size: 18px;
    margin-top: 10px;
  }

  .page-main__top p {
    width: 270px;
  }

  .page-main__top {
    margin-bottom: 140px;
  }

  .page-main__request-inputs legend {
    margin: 0;
    width: 288px;
  }

  .page-main__request-button {
    padding-top: 0;
    padding-bottom: 5px;
    width: 286px;
  }

  .page-main__request-inputs input {
    padding-top: 13px;
    padding-bottom: 11px;
    padding-left: 26px;
    padding-right: 19px;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    box-sizing: border-box;
    height: 48px;
    width: 288px;
    color: $placeholder;
    border-radius: 4px;
    border: 1px solid $borders;
  }

  .page-main__facts {
    margin-bottom: 82px;
    flex-direction: column;
  }

  .page-main__facts ul {
    margin: 0;
    padding: 0;
    margin-top: 28px;
    flex-direction: column;
    width: 100%;
  }

  .page-main__facts-item {
    width: 280px;

    &:nth-of-type(n+2) {
      margin-top: 35px;
    }

    &:nth-of-type(n+1) p {
      margin-top: 18px;
    }

    &:nth-of-type(n+2) p {
      margin-top: 10px;
    }

    &:nth-of-type(n+3) {
      margin-top: 50px;
    }

    &:nth-of-type(n+3) p {
      margin-top: 4px;
    }

    &:nth-of-type(n+1) {
      margin-right: 0;
    }

    &:nth-of-type(2n) {
      margin-left: 0;
    }
  }

  .page-main__types {
    background-color: $bckg-types;

    &::before {
      min-height: 1319px;
    }
  }

  .page-main__types ul {
    margin: 0;
    padding: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
    list-style: none;
  }

  .page-main__types-item {
    display: flex;
    flex-direction: column;

    &:nth-of-type(2n) {
      margin-left: 0;
    }

    &:nth-of-type(n+1) {
      margin-right: 0;
    }
  }


  .page-main__types-item--kids {
    &::before {
      top: -19px;
      right: -15px;
    }
  }

  .page-main__types-item--road {
    position: relative;
    z-index: 1;

    &::before {
      top: 202px;
      left: -26px;
    }
  }

  .page-main__types-link h3 {
    margin-top: 17px;
    margin-bottom: 41px;
  }

  .page-main__video {
    margin-top: 97px;
    margin-bottom: 65px;

    &::before {
      height: 384px;
      top: -82px;
    }
  }

  .page-main__video h2 {
    margin: 0;
    margin-right: 13px;
  }

  .page-main__video p {
    margin-top: 20px;
    margin-bottom: 55px;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.005em;
    color: $main-title-inputs;
    width: 300px;
  }

  .page-main__video-button {
    background-size: 65px 65px;
    width: 65px;
    height: 65px;
    top: 236px;
    left: 115px;
  }

  .page-main__map {
    margin-bottom: 31px;
  }

  .page-main__map iframe {
    height: 250px;
    width: 320px;
  }

  .page-main__map p {
    margin-right: 5px;
    margin-top: 20px;
    margin-bottom: 19px;
    width: 270px;
  }

  .page-main__map-img {
    top: 162px;
    left: 0;
    width: 320px;
    height: 250px;
  }

  .page-main__map h2 {
    font-size: 18px;
    margin-right: 5px;
  }
}
