.page-main {
  display: flex;
  flex-direction: column;
}

.page-main__header {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
}

.page-main__header-description {
  display: flex;
  flex-direction: column;
  width: 718px;
  align-self: center;
  margin-top: 230px;
  margin-left: -600px;
  position: relative;
}

.page-main__header-description h1 {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: $header-features-form;
}

.page-main__header-description-img {
  width: 710px;
  height: 655px;
  background-size: 710px 655px;
  position: absolute;
  top: 120px;
  right: -78px;
  z-index: -1;
  background-position: center;
}

.page-main__header-description p {
  margin: 0;
  margin-bottom: 45px;
  width: 683px;
  margin-left: 96px;
  font-family: $font-text;
  font-weight: 400;
  font-size: 22px;
  line-height: 34px;
  color: $header-features-form;
  position: relative;

  &::before {
    background-color: $header-features-form;
    content: "";
    position: absolute;
    width: 66px;
    top: 17px;
    left: -94px;
    height: 2px;
  }
}

.page-main__header-description-consultation {
  text-decoration: none;
  font-family: $font-main;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  width: 407px;
  height: 55px;
  padding-top: 19px;
  padding-left: 28px;
  padding-right: 28px;
  padding-bottom: 10px;
  box-sizing: border-box;
  background-color: $questions-features-products;
  border-radius: 5px;
  color: $header-features-form;
  margin-left: 96px;

  &:hover {
    background-color: $header-features-form;
    color: $products-footer-header;
  }

  &:active {
    background-color: $text-logo;
  }
}

.page-main__header-description-consultation--mob {
  display: none;
}

.page-main__header-description-features {
  font-family: $font-text;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: $header-features-form;
  opacity: 0.5;
  transform: rotate(-90deg);
  width: 93px;
  text-decoration: none;
  margin-top: 130px;
  margin-left: -37px;
}

.page-main__features {
  align-self: center;
  margin-top: 240px;
  margin-bottom: 109px;
  display: flex;
  flex-direction: column;
}

.page-main__features ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding-left: 50px;
  padding-right: 50px;
  justify-content: center;
  box-sizing: border-box;
  align-self: center;
}

.page-main__features-item {
  width: 570px;
  height: 299px;
  box-sizing: border-box;
  padding-top: 97px;
  padding-bottom: 49px;
  padding-left: 43px;
  padding-right: 43px;
  border: 1px solid $features-lines;
  border-left: 3px solid $questions-features-products;
  z-index: 50;
  background-color: $header-features-form;

  &:nth-of-type(n+1) {
    margin-right: 30px;
  }

  &:nth-of-type(2n) {
    margin-right: 0;
  }

  &:nth-of-type(2n+1) {
    margin-left: 100px;
  }

  &:nth-of-type(n+3) {
    margin-top: 30px;
  }

  &:hover {
    background-color: $questions-features-products;
    border: none;
    cursor: pointer;
    padding-top: 98px;
    padding-bottom: 51px;
    padding-left: 44px;
    padding-right: 44px;

    h3 {
      color: $header-features-form;
    }

    p {
      color: $header-features-form;
    }

    .page-main__features-item--timing {
      &::before {
        background-image: url("../img/icon-watch-white.svg");
      }
    }

    .page-main__features-item--supplier {
      &::before {
        background-image: url("../img/icon-people-white.svg");
      }
    }

    .page-main__features-item--confidentiality {
      &::before {
        background-image: url("../img/icon-detective-white.svg");
      }
    }

    .page-main__features-item--cost {
      &::before {
        background-image: url("../img/icon-tag-white.svg");
      }
    }
  }
}

.page-main__features-item h3 {
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  color: $questions-features-products;
  margin: 0;
  margin-bottom: 16px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
  }
}

.page-main__features-item--timing {
  &::before {
    width: 29px;
    height: 35px;
    top: -57px;
    left: -1px;
    background-image: url("../img/icon-watch.svg");
    background-size: 29px 35px;
  }

  &::after {
    background-image: url("../img/icon-polygon.svg");
    content: "";
    position: absolute;
    z-index: -10;
    width: 298px;
    top: -155px;
    left: -210px;
    height: 298px;
  }
}

.page-main__features-item--supplier {
  &::before {
    width: 35px;
    height: 35px;
    top: -57px;
    left: 0;
    background-image: url("../img/icon-people.svg");
    background-size: 35px 35px;
  }

  &::after {
    background-image: url("../img/icon-polygon.svg");
    content: "";
    position: absolute;
    z-index: -10;
    width: 700px;
    top: 118px;
    left: -425px;
    height: 640px;
    background-repeat: no-repeat;
    background-size: 700px 640px;
    transform: rotate(60deg);
    opacity: 50%;
  }
}

.page-main__features-item--confidentiality {
  &::before {
    width: 36px;
    height: 31px;
    top: -53px;
    left: 0;
    background-image: url("../img/icon-detective.svg");
    background-size: 36px 31px;
  }

  &::after {
    background-image: url("../img/icon-polygon.svg");
    content: "";
    position: absolute;
    z-index: -10;
    width: 298px;
    top: -90px;
    left: 1200px;
    height: 298px;
    transform: rotate(60deg);
  }
}

.page-main__features-item--cost {
  &::before {
    width: 35px;
    height: 35px;
    top: -57px;
    left: 0;
    background-image: url("../img/icon-tag.svg");
    background-size: 35px 35px;
  }

  &::after {
    background-image: url("../img/icon-polygon.svg");
    content: "";
    position: absolute;
    z-index: -10;
    width: 700px;
    top: 45px;
    left: -1295px;
    height: 640px;
    background-repeat: no-repeat;
    background-size: 700px 640px;
    transform: rotate(120deg);
    opacity: 50%;
  }
}

.page-main__features-item p {
  margin: 0;
  font-family: $font-text;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $features-about;
  width: 100%;
}

.page-main__about {
  display: flex;
  align-self: center;
  flex-direction: column;
  position: relative;
  margin-bottom: 110px;
  margin-left: 275px;

  &::before {
    content: "";
    position: absolute;
    width: 220px;
    height: 317px;
    top: 2px;
    left: -210px;
    background-image: url("../img/year.png");
    background-repeat: no-repeat;
    background-size: 220px 317px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/year@2x.png");
      background-size: 220px 317px;
    }
  }
}

.page-main__about h2 {
  margin: 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: $features-about;
  margin-bottom: 21px;
}

.page-main__about-split {
  display: none;
}

.page-main__about p {
  margin: 0;
  font-family: $font-text;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $features-about;
  width: 984px;

  &:last-of-type {
    margin-top: 22px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
  }
}

.page-main__about a {
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $questions-features-products;
  justify-content: flex-start;
  width: 180px;
  height: 45px;
  box-sizing: border-box;
  padding-top: 14px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 13px;
  border: 1px solid $questions-features-products;
  border-radius: 5px;

  &:hover {
    color: $header-features-form;
    background-color: $questions-features-products;
  }
}

.page-main__products {
  align-self: center;
  display: flex;
  flex-direction: column;
  min-height: 938px;
  position: relative;
  box-sizing: border-box;
  padding-top: 90px;
  padding-bottom: 122px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: $products-footer-header;

  &::before {
    background-color: $products-footer-header;
    content: "";
    position: absolute;
    z-index: -1;
    width: 100vw;
    top: 0;
    left: calc(-50vw + 50%);
    height: 938px;
  }
}

.page-main__products h2 {
  margin: 0;
  margin-bottom: 51px;
  margin-left: 100px;
  text-align: left;
  justify-content: flex-start;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: $header-features-form;
}

.page-main__products ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-left: 100px;
}

.page-main__products-item {
  background-size: 370px 620px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 63px;
    height: 63px;
    top: 557px;
    left: 307px;
    background-position: center;
    background-image: url("../../img/icon-check.svg");
    background-repeat: no-repeat;
    background-size: 63px 63px;
    cursor: pointer;
  }

  &:nth-of-type(n+1) {
    margin-right: 30px;
  }

  &:nth-of-type(3n) {
    margin-right: 0;
  }

  &:nth-of-type(n+4) {
    margin-top: 30px;
  }
}

.page-main__products-item h3 {
  position: absolute;
  width: 170px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: $header-features-form;
  margin: 0;
  top: 51px;
  left: 44px;
}

.page-main__products-item-img {
  opacity: 23%;

  &:hover {
    opacity: 40%;
  }
}

.page-main__questions {
  align-self: center;
  display: flex;
  flex-direction: column;
  background-color: $questions-features-products;
  position: relative;
  margin-bottom: 65px;
  padding-left: 730px;
  padding-top: 92px;
  padding-bottom: 112px;
  padding-right: 0;
  box-sizing: border-box;

  &::before {
    background-color: $questions-features-products;
    content: "";
    position: absolute;
    z-index: -10;
    width: 100vw;
    top: 0;
    left: calc(-50vw + 50%);
    min-height: 100%;
  }

  &::after {
    content: "";
    position: absolute;
    width: 686px;
    height: 641px;
    top: -61px;
    left: -71px;
    background-position: left;
    background-image: url("../img/airplane.png");
    background-repeat: no-repeat;
    background-size: 686px 641px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/airplane@2x.png");
      background-size: 686px 641px;
    }
  }
}

.page-main__questions h2 {
  margin: 0;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  color: $header-features-form;
  margin-left: -5px;
}

.page-main__questions p {
  margin: 0;
  font-family: $font-text;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin-top: 10px;
  color: $header-features-form;
}

.page-main__questions-form {
  display: flex;
  flex-direction: column;
  width: 600px;
  position: relative;

  &::before {
    background-image: url("../img/icon-polygon.svg");
    content: "";
    position: absolute;
    z-index: 1;
    width: 373px;
    top: -90px;
    left: 560px;
    height: 373px;
    transform: rotate(60deg);
    opacity: 30%;
    background-size: 373px 373px;
  }

  &::after {
    background-image: url("../img/icon-polygon.svg");
    content: "";
    position: absolute;
    z-index: 10;
    width: 234px;
    top: -95px;
    left: 630px;
    height: 234px;
    transform: rotate(120deg);
    opacity: 30%;
    background-size: 234px 234px;
  }
}

.page-main__questions-inputs {
  display: flex;
  flex-wrap: wrap;
  border: none;
  padding: 0;
  margin: 0;
  margin-top: 49px;
  margin-bottom: 47px;
}

.page-main__questions-inputs input {
  padding: 0;
  width: 270px;
  height: 50px;
  box-sizing: border-box;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 17px;
  padding-right: 17px;
  background-color: $inputs;
  border: none;
  font-family: $font-text;

  &::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: $header-features-form;
    font-family: $font-text;
  }

  &:nth-of-type(n+1) {
    margin-right: 31px;
  }

  &:nth-of-type(n+3) {
    margin-top: 31px;
  }

  &:last-of-type {
    margin-right: 0;
  }

  &:hover {
    border: 1px solid $header-features-form;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 16px;
    padding-right: 16px;
  }

  &:invalid {
    border: 1px solid $invalid;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.page-main__questions-inputs textarea {
  margin-top: 40px;
  padding: 0;
  width: 570px;
  min-height: 154px;
  box-sizing: border-box;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 17px;
  padding-right: 17px;
  background-color: $inputs;
  border: none;
  font-family: $font-text;

  &::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: $header-features-form;
    font-family: $font-text;
  }

  &:hover {
    border: 1px solid $header-features-form;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
  }

  &:invalid {
    border: 1px solid $invalid;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.page-main__questions-agreement-button {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $header-features-form;
  cursor: pointer;
  width: 270px;
  height: 45px;
  box-sizing: border-box;
  padding-top: 14px;
  padding-bottom: 13px;
  padding-left: 18px;
  padding-right: 19.5px;
  border: 1px solid $header-features-form;
  border-radius: 5px;
  background-color: $questions-features-products;
  font-family: $font-main;

  &:hover {
    background-color: $header-features-form;
    color: $questions-features-products;
  }
}

.page-main__questions-agreement {
  display: flex;
  flex-wrap: wrap;
}

.page-main__questions-agreement label {
  width: 230px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  font-family: $font-text;
  opacity: 0.8;
  color: $header-features-form;
  align-self: center;
  margin-left: 70px;
  cursor: pointer;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 16px;
    top: 0;
    left: -32px;
    height: 16px;
    background-image: url("../img/icon-check-agree-rectangle.svg");
    background-repeat: no-repeat;
    background-size: 16px 16px;
  }
}

.page-main__questions-agreement input:checked + label {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -32px;
    width: 16px;
    height: 16px;
    background-image: url("../img/icon-check-agree-rectangle-checked.svg");
    background-repeat: no-repeat;
    background-size: 16px 16px;
  }
}

@media (max-width: $tablet-width) {
  .page-main {
    overflow-x: hidden;
  }

  .page-main__header {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .page-main__header-description {
    margin-top: 111px;
    margin-left: 125px;
  }

  .page-main__header-description h1 {
    font-size: 60px;
    line-height: 70px;
    margin-top: 0;
    margin-bottom: 30px;
    width: 470px;
    margin-left: 0;
  }

  .page-main__header-description p {
    font-size: 18px;
    line-height: 28.22px;
    width: 356px;
    margin-left: 50px;
    margin-bottom: 55px;

    &::before {
      width: 33px;
      top: 15px;
      left: -48px;
      height: 2px;
    }
  }

  .page-main__header-description-consultation {
    margin-left: 50px;
    padding-top: 17px;
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 14px;
    width: 379px;
  }

  .page-main__header-description-features {
    display: none;
  }

  .page-main__header-description-img {
    width: 332px;
    height: 465px;
    background-size: 332px 465px;
    top: 28px;
    right: 0;
  }

  .page-main__features {
    margin-top: 217px;
    margin-bottom: 56px;
  }

  .page-main__features ul {
    padding-left: 24px;
    padding-right: 24px;
    align-self: center;
  }

  .page-main__features-item {
    width: 345px;
    height: auto;
    padding-top: 65px;
    padding-bottom: 18px;
    padding-left: 26px;
    padding-right: 19px;
    border-left: 1.97px solid $questions-features-products;

    &:hover {
      background-color: $questions-features-products;
      border: none;
      cursor: pointer;
      padding-top: 66px;
      padding-bottom: 13px;
      padding-left: 28px;
      padding-right: 20px;
    }

    &:nth-of-type(2n+1) {
      margin-left: 0;
    }

    &:nth-of-type(n+3) {
      padding-top: 65px;
      padding-bottom: 33px;

      h3 {
        margin-bottom: 11px;
      }

      &:hover {
        padding-top: 61px;
        padding-bottom: 41px;
      }
    }

    h3 {
      margin-bottom: 9px;
    }
  }

  .page-main__features-item--timing {
    &::before {
      height: 36px;
      top: -46px;
      left: 0;
      background-size: 29px 36px;
    }

    &::after {
      display: none;
    }
  }

  .page-main__features-item--supplier {
    &::before {
      width: 31.7px;
      height: 32px;
      top: -43px;
      left: 0;
      background-size: 31.7px 32px;
    }

    &::after {
      width: 636px;
      top: 178px;
      left: -153px;
      height: 640px;
      background-size: 636px 640px;
      transform: rotate(60deg);
      overflow-x: hidden;
    }
  }

  .page-main__features-item--confidentiality {
    &::before {
      width: 30px;
      height: 26px;
      top: -39px;
      left: 0;
      background-size: 30px 26px;
    }

    &::after {
      display: none;
    }
  }

  .page-main__features-item--cost {
    &::before {
      width: 32px;
      height: 32px;
      top: -42px;
      left: 0;
      background-size: 32px 32px;
    }

    &::after {
      display: none;
    }
  }

  .page-main__questions-form {
    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }

  .page-main__about {
    margin-left: 187px;
    margin-bottom: 83px;

    &::before {
      content: "";
      position: absolute;
      width: 251px;
      height: 362px;
      top: -1px;
      left: -220px;
      background-repeat: no-repeat;
      background-size: 251px 362px;

      @media (min-resolution: 2dppx) {
        background-size: 251px 362px;
      }
    }
  }

  .page-main__about-split {
    display: block;
  }

  .page-main__about h2 {
    margin-bottom: 24px;
    font-size: 32px;
    line-height: 45px;
    margin-left: -3px;
  }

  .page-main__about p {
    width: 532px;

    &:first-of-type {
      margin-bottom: 20px;
    }

    &:last-of-type {
      margin-top: 0;
      margin-bottom: 0;

      span {
        display: none;
      }

      .page-main__about-split {
        display: block;
        position: absolute;
        bottom: 87px;
        right: 4px;
      }
    }
  }

  .page-main__about a {
    margin-top: 41px;
  }

  .page-main__products {
    padding-top: 50px;
    padding-bottom: 73px;
    padding-left: 23px;
    padding-right: 25px;

    &::before {
      background-color: $products-footer-header;
      content: "";
      position: absolute;
      z-index: -1;
      width: 100vw;
      top: 0;
      left: calc(-50vw + 50%);
      height: 1127px;
    }
  }

  .page-main__products h2 {
    margin-left: 0;
    margin-bottom: 50px;
    font-size: 32px;
    line-height: 45px;
    width: 613px;
  }

  .page-main__products ul {
    width: 715px;
    margin-left: 0;
  }

  .page-main__products-item {
    &:nth-of-type(n+1) {
      margin-right: 0;
      margin-bottom: 44px;
    }

    &:nth-of-type(n+4) {
      margin-top: 0;
    }

    &:nth-of-type(n+2) {
      margin-bottom: 40px;
    }

    &:last-of-type {
      margin-bottom: 0;

      h3 {
        top: 49px;
      }
    }

    &::after {
      top: 193px;
      left: 652px;
    }

    h3 {
      top: 38px;
      width: 170px;
    }
  }

  .page-main__products-item-img {
    width: 715px;
    height: 256px;
  }

  .page-main__questions {
    margin-bottom: 19px;
    padding-left: 90px;
    padding-right: 70px;
    padding-top: 81px;
    padding-bottom: 103px;

    &::after {
      display: none;
    }

    &::before {
      min-height: 664px;
    }
  }

  .page-main__questions h2 {
    font-size: 32px;
    line-height: 45px;
  }

  .page-main__questions p {
    margin-top: 15px;
  }

  .page-main__questions-inputs {
    margin-top: 53px;
    margin-bottom: 46px;
  }

  .page-main__questions-inputs input {
    width: 279px;
    height: 52px;
    padding-top: 15px;
    padding-bottom: 15px;

    &:nth-of-type(n+1) {
      margin-right: 32px;
    }

    &:nth-of-type(n+3) {
      margin-top: 41.5px;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

  .page-main__questions-inputs textarea {
    margin-top: 41.5px;
    width: 591px;
    min-height: 160px;
    padding-top: 13.5px;
    padding-bottom: 13.5px;
  }

  .page-main__questions-agreement-button {
    width: 280px;
    height: 46.6px;
    padding-top: 14.5px;
    padding-bottom: 14px;
    padding-left: 18.6px;
    padding-right: 20px;
  }

  .page-main__questions-agreement label {
    width: 238px;
    margin-left: 73px;
  }

  .page-main__questions-agreement input:checked + label {
    &::before {
      top: 2px;
      left: -34px;
      width: 17px;
      background-size: 17px 16px;
    }
  }
}

@media (max-width: $mobile-width) {
  .page-main__header-description {
    margin: 0;
    width: 320px;
  }

  .page-main__header-description h1 {
    align-self: center;
    font-size: 40px;
    line-height: 47px;
    margin-top: 230px;
    margin-bottom: 27px;
    width: 277px;
    margin-left: 0;
    margin-right: 13px;
  }

  .page-main__header-description p {
    font-size: 16px;
    line-height: 25.09px;
    width: 245px;
    margin-left: 58px;
    align-self: center;
    margin-bottom: 41px;
  }

  .page-main__header-description-consultation {
    margin-left: 0;
    padding-top: 18px;
    padding-left: 11px;
    padding-right: 11px;
    padding-bottom: 15px;
    width: 287px;
    align-self: center;
  }

  .page-main__header-description-consultation--dt {
    display: none;
  }

  .page-main__header-description-consultation--mob {
    display: block;
  }

  .page-main__header-description-img {
    width: 294px;
    height: 437px;
    background-size: 294px 437px;
    top: 31px;
    right: 0;
  }

  .page-main__features {
    margin-top: 107px;
    margin-bottom: 57px;
  }

  .page-main__features ul {
    padding-left: 10px;
    padding-right: 10px;
    flex-direction: column;
  }

  .page-main__features-item {
    width: 290px;
    padding-top: 73px;
    padding-bottom: 23px;
    padding-left: 24px;
    padding-right: 19px;
    align-self: center;

    &:hover {
      padding-top: 74px;
      padding-bottom: 24px;
      padding-left: 25px;
      padding-right: 20px;
    }

    &:nth-of-type(n+2) {
      padding-top: 68px;
      padding-bottom: 6px;

      &:hover {
        padding-top: 69px;
        padding-bottom: 7px;
      }
    }

    &:nth-of-type(n+3) {
      padding-top: 63px;
      padding-right: 15px;
      padding-bottom: 57px;
      margin-top: 0;

      &:hover {
        padding-top: 64px;
        padding-bottom: 58px;
        padding-right: 16px;
      }

      h3 {
        margin-bottom: 16px;
      }
    }

    &:nth-of-type(n+4) {
      padding-top: 68px;
      padding-bottom: 20px;

      &:hover {
        padding-top: 69px;
        padding-bottom: 21px;
      }

      h3 {
        &::before {
          top: -44px;
          left: 1px;
        }
      }
    }

    &:nth-of-type(n+1) {
      margin-right: 0;
      margin-bottom: 20px;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .page-main__features-item h3 {
    margin-bottom: 8px;
    font-size: 20px;
    line-height: 28.13px;
  }

  .page-main__features-item--timing {
    &::before {
      top: -48px;
      left: 0;
    }
  }

  .page-main__features-item--supplier {
    &::before {
      top: -43px;
      left: 0;
    }

    &::after {
      top: 423px;
      left: -97px;
      transform: rotate(60deg);
      overflow-x: hidden;
    }
  }

  .page-main__features-item--confidentiality {
    &::before {
      top: -39px;
      left: 0;
    }
  }

  .page-main__features-item--cost {
    &::before {
      top: -42px;
      left: 0;
    }
  }

  .page-main__about {
    margin-left: 0;
    margin-bottom: 65px;

    &::before {
      display: none;
    }
  }

  .page-main__about h2 {
    font-size: 28px;
    line-height: 39.38px;
    align-self: flex-start;
    margin-bottom: 21px;
  }

  .page-main__about p {
    margin: 0;
    width: 288px;

    &:first-of-type {
      margin-bottom: 40px;
    }

    &:last-of-type {
      margin-top: 0;

      .page-main__about-split {
        bottom: 76px;
        right: 133px;
      }
    }
  }

  .page-main__about a {
    margin-top: 28px;
    padding-top: 14px;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 13px;
  }

  .page-main__products {
    padding-top: 50px;
    padding-bottom: 58px;
    padding-left: 16px;
    padding-right: 9px;

    &::before {
      height: 1101px;
    }
  }

  .page-main__products h2 {
    margin-left: 10px;
    margin-bottom: 41px;
    font-size: 29px;
    line-height: 39.38px;
    width: 285px;
  }

  .page-main__products ul {
    width: 290px;
  }

  .page-main__products-item {
    &:nth-of-type(n+1) {
      margin-right: 0;
      margin-bottom: 27px;
    }

    &:nth-of-type(n+4) {
      margin-top: 0;
    }

    &:last-of-type {
      margin-bottom: 0;

      h3 {
        top: 29px;
      }
    }

    &::after {
      left: 227px;
    }
  }

  .page-main__products-item-img {
    width: 290px;
  }

  .page-main__products-item h3 {
    left: 34px;
    top: 21px;
  }

  .page-main__questions {
    margin-bottom: 48px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 31px;
    padding-bottom: 41px;

    &::before {
      min-height: 640px;
    }
  }

  .page-main__questions h2 {
    font-size: 28px;
    line-height: 39.38px;
    align-self: flex-start;
    width: 243px;
    text-align: left;
    padding-left: 20px;
  }

  .page-main__questions p {
    font-size: 16px;
    line-height: 21.58px;
    margin-top: 14px;
    align-self: flex-start;
    width: 269px;
    text-align: left;
    padding-left: 15px;
  }

  .page-main__questions-inputs {
    align-self: center;
    margin-top: 27px;
    margin-bottom: 30px;
    flex-direction: column;
  }

  .page-main__questions-inputs input {
    width: 290px;
    height: 52px;
    padding-top: 13px;
    padding-bottom: 18px;
    align-self: center;

    &:nth-of-type(n+1) {
      margin-right: 0;
      margin-bottom: 30.4px;
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    &:nth-of-type(n+3) {
      margin-top: 0;
    }
  }

  .page-main__questions-inputs textarea {
    margin-top: 30px;
    width: 290px;
    min-height: auto;
    padding-top: 11px;
    padding-bottom: 18px;
    height: 104px;
  }

  .page-main__questions-agreement {
    flex-direction: column;
  }

  .page-main__questions-agreement-button {
    width: 290px;
    padding-top: 13px;
    padding-bottom: 16px;
    padding-left: 19px;
    padding-right: 21px;
    align-self: center;
  }

  .page-main__questions-agreement label {
    width: 238px;
    margin-left: 17px;
    margin-top: 29px;
  }

  .page-main__questions-agreement input:checked + label {
    &::before {
      top: 1px;
      left: -36px;
    }
  }

  .page-main__questions-form {
    width: 320px;
  }
}
