.page-body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

@media (max-width: $tablet-width) {
  .page-body {
    margin: 0 auto;
  }

  .page-body--inactive {
    overflow-y: hidden;
  }
}

@media (max-width: $mobile-width) {
  .page-body {
    margin: 0;
  }
}
