.page {
  width: auto;
  overflow-x: hidden;
  font-family: $font-main;
}

@media (max-width: $tablet-width) {
  .page {
    display: flex;
    width: auto;
    overflow-x: hidden;
  }
}

@media (max-width: $mobile-width) {
  .page {
    width: auto;
    overflow-x: hidden;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip-path: rect(1px, 1px, 1px, 1px);
}
