.page-footer {
  display: flex;
  flex-direction: column;
  padding-left: 252px;
  padding-right: 167px;
  margin-top: 65px;
}

.page-footer__menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 55px;
  border-bottom: 1px solid $footer-line;
}

.page-footer__social-logo-svg {
  width: 216px;
  height: 52px;
}

.page-footer__social-logo {
  display: flex;
  flex-direction: column;
}

.page-footer__social-logo-rights {
  display: none;
}

.page-footer__social-logo ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 50px;
  width: 202px;
  justify-content: flex-start;
}

.page-footer__social-logo-item {
  align-self: center;
  width: 27px;
  height: 27px;
  cursor: pointer;

  &:nth-of-type(n+1) {
    margin-right: 15.5px;
  }

  &:nth-of-type(n+4) {
    margin-top: 15.5px;
  }

  &:last-of-type {
    margin-right: 0;
  }
}

.page-footer__nav-lists-menu,
.page-footer__address-menu {
  display: none;
}

.page-footer__information {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 14px;
  padding-bottom: 14px;
  box-sizing: border-box;
}

.page-footer__information ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  align-self: center;
  width: 860px;
}

.page-footer__information-rights-item,
.page-footer__social-logo-rights {
  font-family: $font-text;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $products-footer-header;
  opacity: 0.5;

  &:nth-of-type(n+1) {
    margin-right: 74px;
  }

  &:nth-of-type(n+2) {
    margin-right: 78px;
  }

  &:last-of-type {
    margin-right: 0;
  }
}

.page-footer__information-rights-item a {
  margin-left: 65px;
  text-decoration: none;
  font-family: $font-text;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $products-footer-header;
}

.page-footer__information p {
  margin: 0;
  font-family: $font-text;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $products-footer-header;
  opacity: 0.5;
}

.page-footer__nav {
  display: flex;
  flex-direction: column;
  margin-right: 17px;
  margin-top: -1px;
}

.page-footer__nav h3 {
  margin: 0;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $products-footer-header;
  margin-left: 2px;
}

.page-footer__nav-lists {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
}

.page-footer__nav-lists ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;

  &:nth-of-type(n+1) {
    margin-right: 65px;
  }

  &:nth-of-type(2n) {
    margin-right: 0;
  }
}

.page-footer__nav-lists-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: 0.03em;
  font-family: $font-text;
  opacity: 0.5;
  color: $products-footer-header;

  &:hover {
    color: $questions-features-products;
    text-decoration: underline;
  }
}

.page-footer__address {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  margin-top: -1px;
}

.page-footer__address h3 {
  margin: 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $products-footer-header;
}

.page-footer__address ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.page-footer__address-item {
  font-family: $font-text;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: $products-footer-header;
  opacity: 0.5;
}

.page-footer__address-item a {
  font-family: $font-text;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: $products-footer-header;
  text-decoration: none;

  &:hover {
    color: $questions-features-products;
    text-decoration: underline;
  }
}

@media (max-width: $tablet-width) {
  .page-footer {
    flex-direction: column;
    box-sizing: border-box;
    padding-left: 18px;
    padding-right: 17px;
    margin-top: 18px;
  }

  .page-footer__menu {
    padding-bottom: 37px;
  }

  .page-footer__logo-social-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 26px;
  }

  .page-footer__social-logo-rights {
    display: block;
    box-sizing: border-box;
    margin: 0;
    align-self: center;
    padding-left: 62px;
    padding-top: 3px;
    padding-right: 50px;
  }

  .page-footer__information-rights-item--dt {
    display: none;
  }

  .page-footer__logo-social-list a {
    width: 216px;
    height: 52px;
    align-self: center;
  }

  .page-footer__social-logo {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 22px;
    border-bottom: 1px solid $footer-line;
    margin-left: 7px;
    width: 100%;
  }

  .page-footer__social-logo ul {
    margin: 0;
    justify-content: center;
    align-self: center;
    width: 113px;
    padding-bottom: 5px;
    padding-right: 5px;
  }

  .page-footer__information {
    padding-top: 21px;
    padding-left: 8px;
    width: 100%;
  }

  .page-footer__information-rights-item a {
    margin-left: 2px;
  }

  .page-footer__information ul {
    width: auto;
  }

  .page-footer__information p {
    padding-right: 7px;
  }

  .page-footer__nav {
    padding-top: 38px;
    padding-left: 6px;
  }

  .page-footer__nav h3 {
    padding-left: 1px;
  }

  .page-footer__logo-social-list p {
    margin: 0;
    align-self: center;
    font-family: $font-text;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $products-footer-header;
    opacity: 0.5;
    margin-top: 5px;
    margin-left: 15px;
  }

  .page-footer__logo-social-list ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 112px;
    margin-top: -2px;
  }

  .page-footer__nav-lists-link {
    line-height: 25px;
    letter-spacing: 0;
  }

  .page-footer__nav-lists {
    flex-direction: column;
  }

  .page-footer__nav-lists ul {
    &:nth-of-type(n+1) {
      margin-right: 0;
    }

    &:nth-of-type(2n) {
      margin-right: 0;
    }
  }

  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding-top: 38px;
    padding-bottom: 36px;
    padding-left: 5px;
    border-bottom: 1px solid $footer-line;
    border-top: 1px solid $footer-line;
  }

  .page-footer__address--mob {
    margin-right: 17px;
    padding-top: 40px;

    ul {
      margin-top: 25px;
    }
  }

  .page-footer__copyright {
    display: flex;
    flex-wrap: wrap;
    margin-top: 22px;
    margin-bottom: 24px;
    justify-content: space-between;
  }

  .page-footer__copyright a {
    text-decoration: none;
    align-self: center;
    font-family: $font-text;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $products-footer-header;
    opacity: 0.5;
  }

  .page-footer__copyright p {
    margin: 0;
    text-decoration: none;
    align-self: center;
    font-family: $font-text;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $products-footer-header;
    opacity: 0.5;
  }
}

@media (max-width: $mobile-width) {
  .page-footer__logo-social-list {
    flex-direction: column;
    margin-bottom: 54px;
    margin-left: 5px;
  }

  .page-footer__logo-social-list ul {
    align-self: center;
  }

  .page-footer__logo-social-list p {
    margin-top: 26px;
    margin-left: 1px;
    margin-bottom: 35px;
  }

  .page-footer__logo-social-list a {
    align-self: center;
  }

  .page-footer {
    padding: 0;
  }

  .page-footer__social-logo {
    border: none;
    padding-bottom: 23px;
    align-self: center;
    flex-direction: column;
    margin-left: 0;
  }

  .page-footer__social-logo a {
    align-self: center;
  }

  .page-footer__social-logo-rights {
    padding: 0;
    padding-top: 22px;
    padding-bottom: 31px;
    align-self: center;
  }

  .page-footer__menu {
    flex-direction: column;
  }

  .page-footer__social-logo ul {
    padding: 0;
    padding-bottom: 31px;
  }

  .page-footer__copyright {
    flex-direction: column;
    margin-top: 28px;
    margin-bottom: 26px;
  }

  .page-footer__copyright a {
    &:nth-child(n+1) {
      margin-bottom: 21px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .page-footer__copyright p {
    &:nth-child(n+1) {
      margin-bottom: 21px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .page-footer__wrapper {
    flex-direction: column;
    border: none;
    padding: 0;
  }

  .page-footer__nav h3 {
    margin-left: -4px;
  }

  .page-footer__information {
    flex-direction: column;
    align-self: center;
    padding-top: 29px;
    padding-left: 16px;
  }

  .page-footer__information p {
    padding: 0;
    align-self: center;
    padding-top: 21px;
    padding-left: 2px;
  }

  .page-footer__nav-lists-menu,
  .page-footer__address-menu {
    display: block;
    border: none;
    background-color: transparent;
    width: 16px;
    height: 16px;
    position: absolute;
    left: 286px;
    background-image: url("../img/icon-plus.svg");
    background-repeat: no-repeat;
    background-size: 16px 16px;
  }

  .page-footer__nav-lists-menu--opened,
  .page-footer__address-menu--opened {
    background-image: url("../img/icon-minus.svg");
  }

  .page-footer__address h3,
  .page-footer__nav h3 {
    position: relative;
    text-align: left;
  }

  .page-footer__address {
    margin: 0;
    border-bottom: 1px solid $footer-line;
    border-top: 1px solid $footer-line;
    padding-top: 29px;
    padding-bottom: 28px;
    box-sizing: border-box;
    padding-left: 15px;
    align-self: center;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .page-footer__address--mob {
    border-bottom: none;
    padding-top: 27px;
  }

  .page-footer__nav {
    border-top: 1px solid $footer-line;
    padding-top: 29px;
    padding-bottom: 28px;
    width: 100%;
    margin-right: 0;
    padding-left: 18px;
    align-self: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  .page-footer__nav-lists,
  .page-footer__nav-lists--mob {
    display: none;
  }

  .page-footer__address ul,
  .page-footer__address--mob ul {
    display: none;
  }

  .page-footer__address--opened ul {
    display: flex;
  }

  .page-footer__nav-lists--opened {
    display: flex;
  }
}
