.page {
  overflow-x: hidden;
  font-family: $font-main;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip-path: rect(1px, 1px, 1px, 1px);
}
