.popup {
  position: fixed;
  overflow: auto;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: $popup-overlay;
  z-index: 50;
}

.popup--opened {
  display: block;
}

.popup-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -193px;
  margin-top: -408px;
  background-color: $questions-features-products;
  padding-top: 33px;
  padding-left: 39px;
  padding-right: 39px;
  padding-bottom: 36px;
  box-sizing: border-box;
  width: 490px;
  height: 605px;
  display: flex;
  flex-direction: column;
  z-index: 500;
}

.popup-wrapper h3 {
  font-weight: 400;
  font-size: 28px;
  line-height: 39.38px;
  color: $header-features-form;
  text-align: left;
  margin: 0;
}

.popup-wrapper__form {
  position: relative;
  display: flex;
  flex-direction: column;
}

.popup-wrapper__form input {
  padding: 0;
  width: 411.4px;
  height: 51.8px;
  box-sizing: border-box;
  padding-top: 14px;
  padding-bottom: 15px;
  padding-left: 24px;
  padding-right: 24px;
  background-color: $inputs;
  border: none;
  font-family: $font-text;
  border-radius: 0;

  &::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: $header-features-form;
    font-family: $font-text;
  }

  &:nth-of-type(n+1) {
    margin-bottom: 30.45px;
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  &:hover {
    border: 1px solid $header-features-form;
    padding-top: 13px;
    padding-bottom: 14px;
    padding-left: 23px;
    padding-right: 23px;
  }

  &:focus {
    border: 1px solid $header-features-form;
    padding-top: 13px;
    padding-bottom: 14px;
    padding-left: 23px;
    padding-right: 23px;
  }

  &:invalid {
    border: 1px solid $invalid;
    padding-top: 13px;
    padding-bottom: 14px;
    padding-left: 23px;
    padding-right: 23px;
  }

  &:invalid:not(:focus) {
    border: none;
  }
}

.popup-wrapper__form textarea {
  margin-top: 30px;
  padding: 0;
  width: 411.4px;
  height: 105px;
  box-sizing: border-box;
  padding-top: 13.7px;
  padding-bottom: 13.7px;
  padding-left: 23.7px;
  padding-right: 23.7px;
  background-color: $inputs;
  border-radius: 0;
  border: none;
  font-family: $font-text;
  resize: none;

  &::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: $header-features-form;
    font-family: $font-text;
  }

  &:hover {
    border: 1px solid $header-features-form;
    padding-top: 12.7px;
    padding-bottom: 12.7px;
    padding-left: 22.7px;
    padding-right: 22.7px;
  }

  &:invalid {
    border: 1px solid $invalid;
    padding-top: 12.7px;
    padding-bottom: 12.7px;
    padding-left: 22.7px;
    padding-right: 22.7px;
  }
}

.popup-wrapper__form-button {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $header-features-form;
  width: 411.4px;
  height: 46.6px;
  box-sizing: border-box;
  padding-top: 14px;
  padding-bottom: 13px;
  padding-left: 27.4px;
  padding-right: 29.7px;
  border: 1px solid $header-features-form;
  border-radius: 5px;
  background-color: $questions-features-products;
  font-family: $font-main;
  margin-top: 27px;
  cursor: pointer;
}

.popup-wrapper__form-agreement {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
  margin-left: 18px;
  position: relative;
}

.popup-wrapper__form-agreement label {
  width: 337.6px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  font-family: $font-text;
  opacity: 0.8;
  color: $header-features-form;
  align-self: center;
  cursor: pointer;
  position: relative;
  margin-left: 0;

  &:hover {
    text-decoration: underline;
  }
}

.popup-wrapper__form-agreement input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  top: 2px;
  left: -1px;
  height: 12px;
  width: 12px;
  background-color: transparent;
  padding: 0;
  box-sizing: border-box;
  cursor: pointer;

  &:hover {
    border: none;
  }
}

.popup-wrapper__form-agreement-checkbox {
  position: absolute;
  height: 16px;
  width: 16px;
  background-image: url("../img/icon-check-agree-rectangle.svg");
  background-repeat: no-repeat;
  background-size: 16px 16px;
  top: 2px;
  left: 0;
  cursor: pointer;
  z-index: -1;
}

.popup-wrapper__form-agreement input:checked + .popup-wrapper__form-agreement-checkbox {
  background-image: url("../img/icon-check-agree-rectangle-checked.svg");
  background-repeat: no-repeat;
  background-size: 16px 16px;
}

.popup-wrapper p {
  font-family: $font-text;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $header-features-form;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 35px;
}

.popup-wrapper__close-button {
  position: absolute;
  width: 16.5px;
  top: -145px;
  left: 420px;
  height: 16.5px;
  background-image: url("../img/icon-cross.svg");
  background-size: 16.5px 16.5px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
