$basic-header-footer-contacts: #141517;
$main-header-buttons: #ffffff;
$basic-buttons-complex-pack-active: #fe7865;
$basic-headers-descriptions: #2c2e3f;
$telephone: #000000;
$buttons-hover: #f17d4b;
$border-package: rgba(44, 46, 63, 0.3);
$questions: #fbf8f8;
$menu: #fcf8f8;
$border-contacts: #d7d9df;
$success: #48494d;
$shadow: rgba(20, 21, 23, 0.6);
$border-shadow: rgba(255, 255, 255, 0.7);
