$basic-choose-wish: #0ad9c6;
$main-title-inputs: #ffffff;
$features: #000000;
$basic-titles: #1f1f1f;
$placeholder: #1c1c1c;
$questions: #131314;
$menu-text: #48494d;
$menu-item: #f6f6f6;
$bck-mobile: #202020;
$bck-desktop: #0e0e0e;
$borders: #c9ccd4;
$bckg-types: #f6f7f9;
