$header-features-form: #ffffff;
$questions-features-products: #00b2ff;
$popup-overlay: rgba(0, 178, 255, 0.1);
$products-footer-header: #1b2d37;
$features-lines: #ebebeb;
$features-about: #666666;
$text-logo: #788891;
$logo-footer: #203c42;
$footer-bckg: #fafafa;
$footer-line: rgba(98, 105, 98, 0.2);
$inputs:rgba(255, 255, 255, 0.1);
$invalid:#ff0000;
